<div class="filters">

<a href="/listings" class="filter-link">
<div class="filter">
<i class="fa-solid fa-globe"></i>
<p>All</p>
</div>
</a>

<a href="/listings/filter/Mountain" class="filter-link">
<div class="filter">
<i class="fa-solid fa-mountain"></i>
<p>Mountain</p>
</div>
</a>

<a href="/listings/filter/Beach" class="filter-link">
<div class="filter">
<i class="fa-solid fa-umbrella-beach"></i>
<p>Beach</p>
</div>
</a>

<a href="/listings/filter/Forest" class="filter-link">
<div class="filter">
<i class="fa-solid fa-tree"></i>
<p>Forest</p>
</div>
</a>

<a href="/listings/filter/City" class="filter-link">
<div class="filter">
<i class="fa-solid fa-city"></i>
<p>City</p>
</div>
</a>

<a href="/listings/filter/Camping" class="filter-link">
<div class="filter">
<i class="fa-solid fa-campground"></i>
<p>Camping</p>
</div>
</a>

</div>